body{
  margin: 0px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; 
    font-weight: 400;
    line-height: 1.5;
    color: #0F1626; 
    background-color: #fff ;
}
h1 {
  font-family: monospace;

}
a {  
    color: #fff;
    text-decoration: blink;
}

table{
      border-collapse: collapse;
      width: 100%;
      position: relative;
      background-color: #dadaeaf5 !important;
}

table, th, td {
     border: 1px solid black;

}
.quick{
    text-align:center;
    text-align: center;
    margin-top: 55px;
    color: #dca814;
    font-family: initial;
}

th {
    height: 50px;
 }

td{
  color: rgb(0,0,0);
  font-weight: i00px;

}

th, td {
    text-align: center;
}

tr:hover {
  background-color: #f5f5f5;
}

tr:nth-child(even) {background-color: #f2f2f2;}

th{
  background-color: rgba(44, 30, 35, 0.5);
}

@media (min-width: 768px)
.col-md-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 100.333333%;
}

.btn-danger {
    color: #fff;
    background-color: #700010;
  }
.table td, .table th {
    padding: 0.3rem;
    vertical-align: bottom;
    border-top: 1px solid #fff;
}
 

.top-part{
    /*position: relative;*/
    height: 675px;

}
.homepage-image,.dashboard-cover{
  background: url("../images/ten.jpg") no-repeat transparent;
  background-size: auto auto;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 600px;
  left: 0;
  display: block;
  
}
.homepage-image::before,.dashboard-cover::before{
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(4, 31, 59, 0.7);
}
.dashboard-cover::before{
  background-color:  rgba(0, 31, 59, 0.6);
}
.page-bg{
    background-image: url("../images/keysign.jpg") transparent;


}

.descript{
	margin: 0 auto;
    text-align: left;
    width: 40%;
}
.down{
	z-index: 9999;
}

.form-page .app-title{
  color: #fff;
  position: relative;
}
.help-inline{

}
.form-page{
  background:url('../images/design images/payroom.jpg') no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 610px;
  position: relative;
  padding: 50px;
 
  }
.form-page input,.form-page textarea, .form-page  .submit   {
    width: 60%;
    float: right;
  }
.form-page::before{
  position: absolute;
content: "";
top: 0;
bottom: 0;
left: 0;
right: 0;
background-color: rgba(4, 31, 59, 0.7);
}
.form-page form{
  position: relative;
  width: 60%;
  margin: 0 auto;
  background-color:rgba(87, 218, 204, 0.5);
  padding: 20px;
  border-radius: 2px;
}
.form-page label{
  color: aliceblue;
}
.button-success{
	
    background: rgb(15, 22, 38);
    border-radius: 100px;
    margin: 2px ;
    height: 32px;
  }

.flash{
	width: 60%;
	text-align: center;
}

.signup-screen .help-inline{
	color: red;
    margin-left: 180px;
}

.rentals-screen {

    background-color: rgb(155, 74, 23);
    width: 50%;
    margin: 10px auto;
        margin-top: 10px;
        margin-right: auto;
        margin-bottom: 10px;
        margin-left: auto;
    border: 1px ;
    border-radius: 0px;
}

.signup-screen{
	background-color: rgb(90, 87, 87);
	width: 46%;
	margin: 7px auto;
	border-radius: 0px;
	padding: 30	px;
        padding-right: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
}
.left-input,.right-input{
  width: 48%;
  display: inline;
}
.left-input{
  float: left;
}
.right-input{
  float: right;
}
  .left-input input,.right-input input{
  width: 200px;
  display: inline;
}
.submit{
width: 120px !important;

}
.clear{
	clear: both;
	margin:20px auto;
}
a:hover{
  text-decoration: none;
  cursor: pointer;
  border: none;
}
.vacantunits{
  background-color: #0f1626b3;

position: relative;

width: 33%;

min-height: 250px;
display: inline-block;
margin-bottom: 15px;
}
.vacant-buttons{
    position: absolute;
    height: 60px;
    background-color: rgb(85, 132, 255);
    bottom: 0;
    width: 100%;
    padding: 12px;

}
.vacant-buttons a{
  color: #fff;
    text-decoration: blink;

}
.sign-up h1{
  color: #000;
  text-align: center;
  font-size: 20px;
}
.sign-up a{
  text-align: center;
  display: block
}
.sign-up a button,input.submit{
  cursor: pointer;
  margin: 10px auto;
  margin-right: auto;
  background: #2b3856;
  border: none;
  border-radius: 2px;
  padding: 10px;
  color: #fff;
  width: 120px;
}

}
.login{
		
  background-size: contain;
}

.login-screen {


	background-color:rgb(184, 184, 184);
    width: 41%;
    margin: 20px auto;
    border-radius: 4px;
    padding: 30px;
    text-align: center;
    border:1px solid #eee;
}

.signup-button{
  background-color: rgb(0,0,0);
}

.app-title {
text-align: center;
color: #000;
}
 
.login-form {
text-align: center;
margin-top: -20px;
position: relative;
}

.form-group {

}
.form-group label{
  display: inline-block;
  margin: 10px;

} 
.form-group input{
	display: inline-block;
  
  border: 10px;
}

.form-group label{
width: 80px;
color: rgb(0,0,0);
}

.form-group input, .form-group select {

    width: 60%;
    padding: 10px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    margin: 0px auto;
    display: inline-block;

}


.drop{
	display: block;
	width: 80%;

}

.login-input{
	display: block;
	width: 80% !important;;
}
.login-input, .drop{
	margin: 5px; 
}

/*.dash-bg {
  background-color: #fff;

}*/
.dropnav{
  height: 50px;
  position: relative;
}
nav .right {
    float: right;
    }


/*---navbar---*/

.navbar {
    background: #0f1626;
    height: 77px;
}
.navbar a{
  font-size: 21px;
}
.navbar li a.nav-link{
  font-size: 15px;
}
.navbar-shrink{
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-brand {
    font-size: 2em;
    font-weight: bolder;
    text-align: left;

}



.navbar a:not(.navbar-brand) {
    font-weight: bolder;
    font-size: 1.4em;
    color: #fff !important;
}
.navbar a:not(.navbar-brand):hover{
    color:#fff !important;
}

/*header.masthead {
    position: relative;
    background-color: #343a40;
    height: 100vh;
    background: url("../images/keysign.jpg") no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

header.masthead .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: .3
}

header.masthead h1 {
    font-size: 2rem
}

@media (min-width:768px) {
    header.masthead {
        padding-top: 12rem;
        padding-bottom: 12rem
    }
    header.masthead h1 {
        font-size: 4rem
    }
}

.my-padding {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.form-row>.col,
.form-row>[class*=col-] {
    padding-right: 0;
    padding-left: 0;
}


/*---gallery---*/

#photos {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#photos img {
    width: 100%;
    height: 15em;
    border-radius: 0.8em;
    transition: transform 2s ease-in-out;
}

#photos img:hover {
    opacity: 0.8;
    transform: scale(1.15);
}

#photos h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top: 0.15em solid black;
    border-bottom: 0.15em solid black;
    color: red;
    display: none;
}

#photos .col-lg-4:hover h2 {
    display: block;
}

.portfolio-item {
    position: relative;
    margin-bottom: 2rem;
}

img.img-fluid.rounded-circle.mb-3 {
    height: 192px;
    width: 192px;
    object-fit: cover;
}
.featherlight .featherlight-image{
    width:600px;
    height:400px;
}

/*-----parallax-----*/

.mybg {
    position: relative;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.7686274509803922), rgba(255, 255, 255, 0.7686274509803922)), url("../images/keysign.jpg") no-repeat center center fixed;
    background-size: cover;
}

.call-to-action {
    position: relative;
    background-color: #1c1c1c;
    padding-top: 7rem;
    padding-bottom: 7rem
}

.call-to-action .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: .3
}

footer.footer {
    padding-top: 4rem;
    padding-bottom: 4rem
}

.myhr {
    border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.myform {
    border-radius: 0px !important;
}

.mybtn {
    border-radius: 0px !important;
}

.txt-upper {
    text-transform: uppercase;
}

.mybg-dark {
    background: rgba(9, 24, 59, 0.86);
    transition: 2s;
}

.order-now a {
    background: #fff;
    border: 3px solid black;
    padding: 6px 15px;
    font-size: 1.5em;
    font-weight: bold;
    color: #0056b3;
    text-decoration: none;
    opacity: 0.6;
}

.order-now a:hover {
    background: red;
    color:#fff;
    opacity: 1;
}

.myfont-color {
    color: #979797 !important;
}


/*----testimonials----*/

.testimonials {
    padding-top: 7rem;
    padding-bottom: 7rem
}

.testimonials .testimonial-item {
    max-width: 18rem
}

.testimonials .testimonial-item img {
    max-width: 12rem;
    box-shadow: 0 5px 5px 0 #adb5bd
}


/* Footer */

/*section {
    padding: 60px 0 18px;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#footer {
    background: #232323 !important;
}

#footer h5 {
    padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color: #ffffff;
}

#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

#footer ul.social li {
    padding: 3px 0;
}

#footer ul.social li a i {
    margin-right: 5px;
    font-size: 25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#footer ul.social li:hover a i {
    font-size: 30px;
    margin-top: -10px;
}

#footer ul.social li a,
#footer ul.quick-links li a {
    color: #979797;
}

#footer ul.quick-links li a:hover {
    color: #fff;
}

#footer ul.social li a:hover {
    color: #eeeeee;
}

#footer ul.quick-links li {
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#footer ul.quick-links li:hover {
    padding: 3px 0;
    margin-left: 5px;
    font-weight: 700;
}

#footer ul.quick-links li a i {
    margin-right: 5px;
}

#footer ul.quick-links li:hover a i {
    font-weight: 700;
}
@media (max-width:767px) {
    #footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}*/

#footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  background: 
  /* color overlay */
   linear-gradient( rgba(55, 90, 14, 0.76),
    rgba(83, 10, 10, 0.45) ),;
}


/* Custom footer CSS
-------------------------------------------------- */

.container {
    width: auto;
    max-width: 1268px;
    padding: 36px;
}

/*.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}*/
.container .text-muted {
  margin: 20px 0;
}
.footertext {
  color: #ffffff;
}


/*-----scroll-top-----*/

.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 99999999;
    background-color: #777777;
    color: #eeeeee;
    width: 50px;
    height: 48px;
    line-height: 48px;
    right: 30px;
    bottom: 30px;
    padding-top: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.scroll-top-wrapper:hover {
    background-color: #888888;
}

.scroll-top-wrapper.show {
    visibility: visible;
    cursor: pointer;
    opacity: 1.0;
}

.scroll-top-wrapper i.fa {
    line-height: inherit;
}


/*mfalme*/

.admin-pic{
  width: 100%;
  display: block;overflow: hidden;
  margin: 10px auto;
  position: relative;
}
.dashboard-button{
  margin: 0 auto;

position: relative;

display: block;

background: #d75b0d;

border: 1px solid #d75b0d;

padding: 43px;

color: #fff;
border-radius: 4px;
font-size: 23px;

font-weight: 600;
}
.dashboard-button:hover{
  cursor: pointer;
}
.admin-pic i{
  font-size: 85px;
  color: #fff;
  float: left;
}
.admin h4{

  font-weight: 800;
  padding: 11px;
  
  margin: 50px 90px;
  font-size: 16px;
 
 
 color: rgba(255, 255, 255, 1);
}
.users-dashboard{
  background-image: url('../images/users.png');
  
  
  

}
.rental-dashboard{
  color: #fff;
  background: url('../images/rentals.jpeg');
}

.dashboard{
  margin-bottom: 40px; 
  background-size: contain;
  width: 45%;
height: 150px;
display: inline-block;
position: relative;



display: inline-block;

margin-right: 2%;
}
.dashboard h5{
  color: #445f95;

margin: 5px;
}
.rental-dashboard h5{
  color: #fff;
}
.descr h5, .descr button{
  display: inline;
  color: #fff;
  float: right;
    margin: 5px;

}
.descr button{
  background-color: rgba(8, 80, 118, 0.54);
  color: #5f2222;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  border: 0;
  color: #fff;
  width: 180px;

}
.descr span{
  position: absolute;
  bottom: 0;
}

.dashboard .descr::before{
  position: absolute;bottom: 0;
  right: 0;
  background-color: rgba(8, 80, 118, 0.54);
  width: 100%;
  transition-duration: 2s;
   -moz-transform: scale(0);

}
.dashboard:hover .descr::before{
  top: 0;
    transform: scale(1);
  
  bottom: 0;
  left: 0;
  content: '';
}
.dashboard:hover button{
  background-color: rgba(255,255,255,1);
  color: maroon;
  
}
.dashboard-cover{
  /*background-color: rgba(3, 18, 41, 0.74);*/
  padding: 20px;
  /*margin: 0 auto;*/

}
.dashboard-cover form{
  position: relative;
}
.manager-section{
  background-color: rgba(20, 78, 20, 0.6);
  padding: 20px;
  margin-bottom: 10px;
}
.dashboard-body{
  margin-bottom: 20px;
}
.footer{
  background-color: #085076;
  padding: 50px;
  margin-right: -20px;
  margin-left: -20px;
  width: 100%;
}
.side-menu ul li{
  list-style: none;

width: 100%;

height: 55px;

border: #fff 1px solid;
border-radius: 2px;

text-align: center;

padding: 15px 0;

margin: 4px;

color: rgb(255,255,255);

font-weight: 800;
}
.side-menu ul li a{
  color: #fff;
}
.side-menu ul {
  margin-left: -85px;
}
.jumbosparent{
  
  opacity: 1;
  width: 51%;
  margin: 100px auto;
  padding:5px;

}
.jumbosparent i{
  display: inline;
  font-size: 100px;
  margin: 200px;
  color: rgb(0,255,255,0.6);
}
.admin-login{
  margin: 20px;
}
.homepage-users i{
   font-style: 20px;

  
}
#footer{
  background-color: rgb(15, 174, 181);
}

fas fa-user-circle{
  font-size:100px;
}
.jumbosparent h1{
  font-size: 27px;
color: #fff;
text-transform: uppercase;
font-weight: 800;
}
.button-hover button{
background-color: #757575;
border-radius: 30px;
padding: 10px;
color: #fff;
width: 200px;
height: 50px;
position: relative;
cursor: pointer;
}
.button-hover button:hover::before{

    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-weight: 900;
    padding: 10px;
    font-size: 15px;
    content: "";
    transition: .5s;
    color:#000;
    /*background-color: rgba(2, 238, 238,.6);*/
    
      transform: scaleY(1);


}

.button-hover button::before{
  border-radius: 30px;
  transform: scaleY(0);
  height: 100%;
  background-color:rgb(74, 103, 144);
  content: "";
  color: #fff;
  transition-duration: .5s;
}
.dashboard-icon .icon{
  font-size: 30px;
  color: green;
  padding: 2px;
  display: inline;
  
}
.dashboard-icon div{
  display: inline;
}
.dashboard-icon{
  
  width: 100%;
  min-width: 200px;
  transition: .5s;
  cursor: pointer;
  display:block;
  
  padding-left: 15px;
  border-bottom: 1px solid #5584ff;
  border-top: 1px solid #0d172e;
  color: #ffffff;
  display: block;
  font-size: 17px;
  font-weight: 500;
  padding: 20px 20px;
  
  text-decoration: none;

}
.dashboard-icon.active, .dashboard-icon:hover{
      background: #122143;
    border-left: 5px solid #5584ff;
    padding-left: 15px;
}
.dashboard-icon i{
  color: #5584ff;

}
.dashboard-icon:hover{
  background-color: #0f1626;

}
.dashboard-icon:hover a{
  color: #fff;
  text-decoration: none;
}
.dashboard-icon a{
  color: #fff;
  padding-left: 5px;
  }
.logout{
      width: 101px !important;
  padding: 10px;
  margin: 10px;
  background-color: #5584ff;
}
.logout i{
  color: #0f1626;
}
.logout .icon{
  color: #fff;
}
.logout a{
  color: #fff;
}
.logout_link{ float: right; }

.home-footer{
  position: inherit;
  bottom: 40px;
}
.dashboard-side-menu{
  background-color: #0d172e;
height: 100%;
display: block;
position: fixed;
padding: 0 0;
margin-left: -15px;
}
.welcome-login{
color: rgb(0,0,0);
text-align: center;
border: 2px solid rgb(0,0,0);
    
border-bottom-width: 1px;
border-bottom: none;
padding: 11px;
border-radius: 4px;
width: 42%;
margin: 137px auto 0 auto;
}
.fas fa-phone {
  color:#fff;
}

/*FAQs pages */
.cd-faq {
  width: 90%;
  max-width: 1024px;
  background-color:#000;
  margin: 2em auto;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
.cd-faq:after {
  content: "";
  display: table;
  clear: both;
}
@media only screen and (min-width: 768px) {
  .cd-faq {
    position: relative;
    margin: 4em auto;
    box-shadow: none;
  }
}

.cd-faq-categories a {
  position: relative;
  display: block;
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  padding: 0 28px 0 16px;
  background-color: #4e5359;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  white-space: nowrap;
  border-bottom: 1px solid #555b61;
  text-overflow: ellipsis;
}
.cd-faq-categories a::before, .cd-faq-categories a::after {
  /* plus icon on the right */
  position: absolute;
  top: 50%;
  right: 16px;
  display: inline-block;
  height: 1px;
  width: 10px;
  background-color: #7f868e;
}
.cd-faq-categories a::after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.cd-faq-categories li:last-child a {
  border-bottom: none;
}
@media only screen and (min-width: 768px) {
  .cd-faq-categories {
    width: 20%;
    float: left;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  }
  .cd-faq-categories a {
    font-size: 13px;
    font-size: 0.8125rem;
    font-weight: 600;
    padding-left: 24px;
    padding: 0 24px;
    -webkit-transition: background 0.2s, padding 0.2s;
    -moz-transition: background 0.2s, padding 0.2s;
    transition: background 0.2s, padding 0.2s;
  }
  .cd-faq-categories a::before, .cd-faq-categories a::after {
    display: none;
  }
  .no-touch .cd-faq-categories a:hover {
    background: #555b61;
  }
  .no-js .cd-faq-categories {
    width: 100%;
    margin-bottom: 2em;
  }
}

@media only screen and (min-width: 1024px) {
  .cd-faq-categories {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    z-index: 2;
  }
  .cd-faq-categories a::before {
    /* decorative rectangle on the left visible for the selected item */
    display: block;
    top: 0;
    right: auto;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #a9c056;
    opacity: 0;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .cd-faq-categories .selected {
    background: #42464b !important;
  }
  .cd-faq-categories .selected::before {
    opacity: 1;
  }
  .cd-faq-categories.is-fixed {
    /* top and left value assigned in jQuery */
    position: fixed;
  }
  .no-js .cd-faq-categories {
    position: relative;
  }
}

.cd-faq-items {
  position: fixed;
  height: 100%;
  width: 90%;
  top: 0;
  right: 0;
  background: #ffffff;
  padding: 0 5% 1em;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0) translateX(100%);
  -moz-transform: translateZ(0) translateX(100%);
  -ms-transform: translateZ(0) translateX(100%);
  -o-transform: translateZ(0) translateX(100%);
  transform: translateZ(0) translateX(100%);
  -webkit-transition: -webkit-transform .3s;
  -moz-transition: -moz-transform .3s;
  transition: transform .3s;
}
.cd-faq-items.slide-in {
  -webkit-transform: translateZ(0) translateX(0%);
  -moz-transform: translateZ(0) translateX(0%);
  -ms-transform: translateZ(0) translateX(0%);
  -o-transform: translateZ(0) translateX(0%);
  transform: translateZ(0) translateX(0%);
}
.no-js .cd-faq-items {
  position: static;
  height: auto;
  width: 100%;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
@media only screen and (min-width: 768px) {
  .cd-faq-items {
    position: static;
    height: auto;
    width: 78%;
    float: right;
    overflow: visible;
    -webkit-transform: translateZ(0) translateX(0);
    -moz-transform: translateZ(0) translateX(0);
    -ms-transform: translateZ(0) translateX(0);
    -o-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    padding: 0;
    background: transparent;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-faq-items {
    float: none;
    width: 100%;
    padding-left: 220px;
  }
  .no-js .cd-faq-items {
    padding-left: 0;
  }
}

.cd-close-panel {
  position: fixed;
  top: 5px;
  right: -100%;
  display: block;
  height: 40px;
  width: 40px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 2;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: right 0.4s;
  -moz-transition: right 0.4s;
  transition: right 0.4s;
}
.cd-close-panel::before, .cd-close-panel::after {
  /* close icon in CSS */
  position: absolute;
  top: 16px;
  left: 12px;
  display: inline-block;
  height: 3px;
  width: 18px;
  background: #6c7d8e;
}
.cd-close-panel::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cd-close-panel::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.cd-close-panel.move-left {
  right: 2%;
}
@media only screen and (min-width: 768px) {
  .cd-close-panel {
    display: none;
  }
}

.cd-faq-group {
  /* hide group not selected */
  display: none;
}
.cd-faq-group.selected {
  display: block;
}
.cd-faq-group .cd-faq-title {
  background: transparent;
  box-shadow: none;
  margin: 1em 0;
}
.no-touch .cd-faq-group .cd-faq-title:hover {
  box-shadow: none;
}
.cd-faq-group .cd-faq-title h2 {
  text-transform: uppercase;
  font-size: 12px;
  font-size: 1.3rem;
  font-weight: 700;
  color: #e67b14;
}
.no-js .cd-faq-group {
  display: block;
}
@media only screen and (min-width: 768px) {
  .cd-faq-group {
    /* all groups visible */
    display: block;
  }
  .cd-faq-group > li {
    background: #ffffff;
    margin-bottom: 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
  }
  .no-touch .cd-faq-group > li:hover {
    box-shadow: 0 1px 10px rgba(108, 125, 142, 0.3);
  }
  .cd-faq-group .cd-faq-title {
    margin: 2em 0 1em;
  }
  .cd-faq-group:first-child .cd-faq-title {
    margin-top: 0;
  }
}

.cd-faq-trigger {
  position: relative;
  display: block;
  margin: 1.6em 0 .4em;
  line-height: 1.2;
}
@media only screen and (min-width: 768px) {
  .cd-faq-trigger {
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0;
    padding: 24px 72px 24px 24px;
  }
  .cd-faq-trigger::before, .cd-faq-trigger::after {
    /* arrow icon on the right */
    position: absolute;
    right: 24px;
    top: 50%;
    height: 2px;
    width: 13px;
    background: #cfdca0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
  }
  .cd-faq-trigger::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 32px;
  }
  .cd-faq-trigger::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .content-visible .cd-faq-trigger::before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .content-visible .cd-faq-trigger::after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.cd-faq-content p {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.4;
  color: #6c7d8e;
}
@media only screen and (min-width: 768px) {
  .cd-faq-content {
    display: none;
    padding: 0 24px 30px;
  }
  .cd-faq-content p {
    line-height: 1.6;
  }
  .no-js .cd-faq-content {
    display: block;
  }
}
