
	{% extends 'RMlayout.html' %}

	{% block body %}
	
					<div class="admin-pic">
						<div class="login-form">
<form method="POST" action="/propertyform">


	<div class="rentals">
		<div class="rentals-screen">
			<div class="app-title">
				<h1>Record a New Rental Property</h1>
			</div>

			<div class="form-group">
				{{render_field(form.name, class_="form_control")}}
			</div>
	
			<div class="form-group">
				{{render_field(form.address, class_="form_control")}}
			</div>

			<div class="form-group">
				{{render_field(form.units, class_="form_control")}}
			</div>


			

		<input class="submit" type="submit" class"btn btn-primary" value="Add"> 
		</div>

		<div class="clear"> </div>
	</div>	

</form> 
</div>
</div>

{% endblock %}
