<!-- this dashboard should have an icons to:

	add tenants, 
	view payments, 
	view requests, 
	send payment reminder, 


	these buttons don't have to work for now, 
	-->

	{% extends 'Adminlayout.html' %}

	{% block body %}
		<div class="report">
			<form method="POST">
 			
  <div class="form-group">
    {{ form.report_type(placeholder = "Enter Email", class="input") }}

  </div>
 <div class="form-group">
 	<a href="/"><button class="button btn-success" >Generate PDF Report</button></a>
 </div>
  
</form>
		</div>
		{% if data %}
			
		
		{% endif %}
	{% endblock %}