<!-- this admin dashboard should have an icons to:

view users 
add/delete users  
	 


	these buttons don't have to work for now, 
	-->

	{% extends 'layout.html' %}

	{% block body %}

		<div class="container-fluid dashboard-body">
			<div class="row">
				<div class="col-md-3">
					<div class="admin-pic">
					<img src="../static/images/admin.jpg">
					</div>
					<div class="admin">
						<h4>
							Welcome, Admin
						</h4>
					</div>
					<div class="side-menu">
						<ul>
							<li><a href="#">Homepage</a></li>
							<li><a href="#">Homepage</a></li>
							<li><a href="#">Homepage</a></li>
							<li><a href="#">Homepage</a></li>
							<li><a href="#">Homepage</a></li>
							<li><a href="#">Homepage</a></li>
							<li><a href="#">Homepage</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-9 dashboard-cover">
					<div class="users-dashboard dashboard">
						
								<h5>Users</h5>
							
						<div class="descr">
							
							<span>
							<button>
								View Users
							</button>
							<button>
								Add New Users
							</button>
							</span>
						</div>
					</div>
						<div class="rental-dashboard dashboard">
						
								<h5>Rental Properties</h5>
							
						<div class="descr">
							
							<span>
							<button>
								View Rentals
							</button>
							<button>
								Add Rental Properties
							</button>
							</span>
						</div>
					</div>
						<div class="users-dashboard dashboard">
						
								<h5>Rental Managers</h5>
							
						<div class="descr">
							
							<span>
							<button>
								Rental Managers
							</button>
							<button>
								Add Rental Managers
							</button>
							</span>
						</div>
					</div>
						<div class="users-dashboard dashboard">
						
								<h5>Tenants</h5>
							
						<div class="descr">
							
							<span>
							<button>
								View Tenants
							</button>
							<button>
								Manage Tenants
							</button>
							</span>
						</div>
					</div>
					<!-- 	<div class="users-dashboard dashboard">
						
								<h5>Appartments and OFfices</h5>
							
						<div class="descr">
							
							<span>
							<button>
								View Rentals
							</button>
							<button>
								Add Appartment/Office
							</button>
							</span>
						</div>
					</div> -->
					<!-- 	<div class="users-dashboard dashboard">
						
								<h5>Appartments and OFfices</h5>
							
						<div class="descr">
							
							<span>
							<button>
								View Rentals
							</button>
							<button>
								Add Appartment/Office
							</button>
							</span>
						</div>
					</div> -->
				</div>
			</div>
		</div>

	{% endblock %}