{% extends 'layout.html' %}

{% block body %}

{% from "includes/_formhelpers.html" import render_field %}
<form method="POST" action="/bookunit/{{unit_id}}">

	<div class="signup">
		<div class="signup-screen">
			<div class="app-title">
				<h4>Unit Booking Form </h4>
			</div>

			<!-- <div class="form-group">
				{{render_field(form.unit_code, class_="form_control", placeholder='Enter the Unit Code')}}

			</div>
 -->
			<div class="form-group">

				{{render_field(form.proof_document, class_="form_control", )}}

			</div>

			<div class="form-group">
				{{render_field(form.document_number, class_="form_control", placeholder='Enter ID Document Number')}}

			</div>
			
			
			<div class="form-group">
				<input class="submit" type="submit" class"btn btn-primary" value="Send">
			</div>




			<div class="clear">
				
			</div>
		</div>

	</div>

</form> 



{% endblock %}
