{% extends 'layout.html' %}

{% block body %}
<div class="homepage-image">
<div class="container ">
	
<div class="top-part row">
    <div class="col-md-12 ">
    	 <div class="jumbotron text-center jumbosparent">
	   <h1>Cloud-Based Tenant Management System</h1>
	       <p class="lead"> 
		      <p class="descript">
		      </p>
	       </p>
	   <div class="button-hover">

        <a href="/managerlogin"><button class="button-success">Tenant Manager</button></a>
        <a href="/tenantlogin"><button class="button-success">Tenant</button></a>

		<!-- <a href="{{url_for('managerLogin')}}"><button class="button-success">Tenant Manager</button></a> -->
		<!-- <a href="{{url_for('tenantLogin')}}"><button class="button-success">Tenant</button></a> -->

	   </div>
    </div>
    <div class="home-footer text-white">
    	<ul class="list-unstyled list-inline social">
                            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
                            </ul>
    	<p class="h6">Copyright © All Rights Reserved.<a class="text-green ml-2" href="#" target="_blank">Grace Murigi 2018</a></p>
    </div>
    </div>
</div>
</div>
</div>
    <section id="footer">
        <div class="container">
            <div class="row text-xs-center text-sm-left text-md-left mb-5">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <h5 class="txt-upper">About The Cloud Based Tenant Management System</h5>
                        <p class="myfont-color text-justify">Lorem ipsum dolor sit amet! Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
                        <p class="myfont-color">FOLLOW US:</p>
                            <ul class="list-unstyled list-inline social">
                            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
                            </ul>
                </div>
                
                <div class="col-xs-12 col-sm-4 col-md-3 myfont-color">
                    <h5 class="txt-upper">CONTACT US</h5>
                    <p> TEL:
                    <br> +254788583144 
                        
                    <br> Email:

                    <br> info@tms.com 
                    </p>
                </div>

                
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <h5 class="txt-upper">Quick links</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a href="javascript:void();">Home</a></li>
                        <li><a href="javascript:void();">About</a></li>
                        <li><a href="javascript:void();">Gallery</a></li>
                        <li><a href="javascript:void();">Contact Us</a></li>

                    </ul>
                </div>
            
                <hr class="myhr">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2  text-white">

                        <p class="h6">Copyright © All Rights Reserved.<a class="text-green ml-2" href="#" target="_blank">Grace Murigi 2018</a></p>
                        </div>
                        <hr>
                    </div>
            </div>
        </div>

    </section>

{% endblock %}