<!--This is the login page -->
{% extends 'layout.html' %}

{% block body %}

{% from "includes/_formhelpers.html" import render_field %}


<h4 class="welcome-login">
	 Send Invoice
</h4>
<div class="login-form">
	<form method="POST" action="/sendinvoice">
		<div class="login">
			<div class="login-screen">
				<div class="app-title">
					
				</div>

				<div class="login-form">
				

				<div class=form-group> {{ form.invoice_number(placeholder = "Enter invoice number", class="input") }}</div>
    			<div class=form-group> {{ form.invoice}}</div>
    			<div class="form-group">
				<input class="submit" type="submit" class"btn btn-primary" value="Send">
				</div>
				</div> 
				<div class="clear"></div> 
			  	</div> 


		</div>

		                                                                       
	</form>
</div>

{% endblock %}