<!--This is the login page -->
{% extends 'layout.html' %}

{% block body %}

{% from "includes/_formhelpers.html" import render_field %}


<h4 class="welcome-login">
	 Login 
</h4>
<div class="login-form">
	<form method="POST" action="/login">
		<div class="login">
			<div class="login-screen">
				<div class="app-title">
					
				</div>

				<div class="login-form">
				

				<div class=form-group> {{ form.email(placeholder = "Enter Email", class="input") }}</div>
    			<div class=form-group> {{ form.password(placeholder = 'password', class="input") }}</div>
    			<div class="form-group">
				<input class="submit" type="submit" class="btn btn-primary" value="Submit">
				</div>
				<div class="sign-up form-group">

					<h1> New Here? 
						<a href="/signup">
						<button class='signup-button'>Signup</button>
						</a>
					</h1>
				</div>
				</div> 
				<div class="clear"></div> 
			  	</div> 


		</div>

		                                                                       
	</form>
</div>


{% endblock %}