<!--This is the login page -->
{% extends 'layout.html' %}

{% block body %}

{% from "includes/_formhelpers.html" import render_field %}

<form method="POST" action="/maintenance">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Maintenace Request Form </h1>
			</div>
				<div class="login-form">
				

				<div class=form-group>{{ form.maintenance.label }}: {{ form.maintenance() }}</div>
    			<div class=form-group>{{ form.description.label }}: {{ form.description() }}</div>
    			<div class="form-group">
				<input class="submit" type="submit" class"btn btn-primary" value="Send">
				</div>

				
				<div class="clear"></div> 
			  	</div> 

		</div>
	</div>	
</form>


{% endblock %}