{% extends 'RMlayout.html' %}

{% block body %}

					
		
			<table border="5" cellpadding="10" cellspacing="10" class="table table-bordred table-striped">
<!-- 			<table class="table table-striped" style="color: #fff;">
				 -->				
				<tbody>


                <tr>
<!--               <th>Property ID</th>
 -->              
 			  <th>Property Name</th>
              <th>Property Address</th>
              <th>Number of Units</th>
              

{% if data %}
          </tr>
				  {% for rows in data %}
				    <tr>
<!-- 				    	<td>{{rows['ren_id']}}</td>
 -->				    <td>{{rows['name']}}</td>
				      	<td>{{rows['address']}}</td>
				      	<td>{{rows['units_managed']}}</td>
				      


				    <td>
				<a href="/viewunits/{{rows['ren_id']}}" class="btn button-success">View Units</a>

				<a href="/unitsform/{{rows['ren_id']}}" class="btn button-success">Add Units</a>

                <a href="/deleteproperty/{{rows['id']}}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this record?')">Delete Property <i class="fa fa-trash" aria-hidden="true"></i></a>

                    </td>
				    </tr>
				  {% endfor %}
				  

{% endif %}
				</tbody>
			</table>
		


{% endblock%}