{% extends 'layout.html' %}

{% block body %}


<div class="container-fluid">
	<div class="row">
		<div class="col-md-8">
			<table border="5" cellpadding="10" cellspacing="10" style= "color: #fff;">
<!-- 			<table class="table table-striped" style="color: #fff;">
				 -->				
				<tbody>


                <tr>
              <th>Maintenanace type</th>
              <th>Description </th>
              <th>Requester</th>
<!--               <th>Number of units</th>
 -->
{% if data %}
          </tr>
				  {% for rows in data %}
				    <tr>
				    	<td>{{rows['type']}}</td>
				    	<td>{{rows['description']}}</td>
				      	<td>{{rows['requester']}}</td>
<!-- 				      	<td>{{rows['']}}</td>
 -->

				    </tr>
				  {% endfor %}
				  there must be some data somewhere

{% endif %}
				</tbody>
			</table>
		</div>
	</div>
</div>


{% endblock%}