
{% from "includes/_formhelpers.html" import render_field %}
	{% extends 'RMlayout.html' %}

	{% block body %}
	
					<div class="admin-pic">
						
						<i class=" fas fa-user-alt"></i>
						<div class="admin">
							<h4>Welcome, {{session['RM']}}</h4>
						</div>
					</div> 
						<button class="dashboard-button">
						New Here?<br> 
						<a href="{{url_for('Learn')}}">Learn More</a>
						</button> <!----			
			<div class="manager-section">
						<div class="rental-dashboard dashboard">
						
								<h5>My Properties</h5>
							
						<div class="descr">
							
							<span>


							<a href="{{url_for('addProperty')}}">
								<button class="button-success">Add New Property</button>
							</a>

							<a href="{{url_for('myProperty')}}">
								<button class="button-success">View My Properties</button>
							</a>

							</span>
						</div>
					</div>
					
						<div class="users-dashboard dashboard">
						
								<h5>My Tenants</h5>
							
						<div class="descr">
							
							<span>
							<button>
								View My Tenants
							</button>
							 <button>
								Add New Tenant
							</button>
							</span>
						</div>
					</div>
					</div>  -->
					
			

	{% endblock %}