<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Rental Manager: tenant_management_system</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/custom.css') }}">
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/fontawesome/css/all.css') }}">
		<script type="text/javascript" src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>4
		<script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
		<!--<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">-->
 		<!--<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">-->
		<!--<link href="//cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.css" type="text/css" rel="stylesheet" />
		<script src="//cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>-->
	</head>
	<body>
		<div class='try'></div>
		{% include 'includes/_navbar.html' %}
<div class="dash-bg">


		<div class="container-fluid dashboard-body">
			<div class="row">
				<div class="col-md-2">
					
<div class=" dashboard-side-menu">
					
					<a href="/">
					<div class="dashboard-icon active">
						<i class=" fas fa-sliders-h"></i>
						<div>
							
							Rental Manager Home
								
							
						</div>
					</div>
					</a>
					<a href="{{url_for('myProperty')}}">
						<div class="dashboard-icon">
							<i class="fas fa-stroopwafel"></i>
						
						<div>
							
								View My Properties
								
							
						</div>
					</div>
					</a>
					<a href="{{url_for('addProperty')}}">
					<div class="dashboard-icon">
							
						<i class="  fas fa-building"></i>
						<div>
							
								Add New Property
								
							
						</div>
					</div>
					</a>
					<a href="/tenants">
						<div class="dashboard-icon">
						<i class="fa fa-users" aria-hidden="true"></i>

						<div>
							
								My Tenants
							

						
						</div>
					</div>
						</a>
							<a href="/viewapplicants">
						<div class="dashboard-icon">
						<i class="fa fa-users" aria-hidden="true"></i>

						<div>
							
								View Rental applications
							

						
						</div>
					</div>
						</a>
					<a href="{{url_for('UnitBill')}}">
					<div class="dashboard-icon">
						<i class=" fas fa-money-bill-wave"></i>
						<div>
							
								Send Invoice	
							
						</div>
					</div>
					</a>
							<a href="/viewrequests">
						<div class="dashboard-icon">
						<!-- <i class="fa fa-envelope" aria-hidden="true"></i> -->
						<i class="fas fa-cogs"></i>
						<div>
								Maintenance Requests
								
							
						</div>
					</div>
					</a>
					<a href="{{url_for('logout')}}">
					<div class="dashboard-icon logout">
						<i class=" fas fa-sign-out-alt"></i>
						<div>
							
								Logout
							
						</div>
				</div>
					
							</a>
			</div>
				</div>
				<div class="col-md-10 dashboard-cover">
		{% from "includes/_formhelpers.html" import render_field %}
		{% include 'includes/_messages.html' %}
		{% block body %}{% endblock %}
		</div>
	</div>
</div>
</div>
</div>


		<script type="text/javascript" src="{{ url_for('static',filename='js/custom.js') }}"> </script>	
		<script type="text/javascript" src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>




	</body>
</html>