<!-- this tenant dashboard should have an icons to:

	edit profile 
	view bills , 
	request maintenance , 
	 


	these buttons don't have to work for now, 
	-->

	{% extends 'TMlayout.html' %}

	{% block body %}


					<div class="admin-pic">
						<i class=" fas fa-user-alt"></i>
						<div class="admin">
							<h4>Welcome, {{session['T']}}</h4>
						</div>
					</div>
					<button class="dashboard-button">
						New Here?<br> 
						<a href="/learnmore">Learn More</a>
					</button>
					<a href="/pendingbills">
						View invoice
					</a>
				

	{% endblock %}